<script type="text/template" id="about">
<div data-role="header" data-theme="c">
    <a href="#event_<%=id%>" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
    <h3>Indico Mobile</h3>
    <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3>About</h3></div>
</div>
<div data-role="content">
    <% if (description != ''){
        print('<h3>Description</h3>');
        print('<p style="text-align: justify;">' + description + '</p>');
        }
    %>
<%
  if (typeof(chairs)!="undefined"){
    if (chairs.length>0){
        print('<h3>Conference Chairs</h3><ul data-role="listview" data-inset="true">');
        for (var i=0; i<chairs.length;i++){
            print('<li>'+chairs[i].fullName+'</a></li>');
        }
        print('</ul>');
    }
  }
%>
<%
    if (url != ''){
        print('<h3>Indico Webpage</h3>');
        print('<p><a data-role="button" data-icon="arrow-r" data-iconpos="right" data-mini="true" href="'+url+'" target="_blank">' + title + '</a></p>');
    }
%>
</div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
      <ul class="ui-grid-c">
        <li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%= id %>">Sessions</a></li>
        <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>">Timetable</a></li>
        <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>">Speakers</a></li>
        <li class="ui-block-d"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
      </ul>
    </div>
</div>
</script>

<script type="text/template" id="agendaAbout">
<div data-role="header" data-theme="c">
    <a href="#event_<%=id%>_agenda" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
    <h3>Indico Mobile</h3>
    <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3>About</h3></div>
</div>
<div data-role="content">
<% if (description != ''){
    print('<h3>Description</h3>');
    print('<p style="text-align: justify;">' + description + '</p>');
    }
%>
<%
  if (typeof(chairs)!="undefined"){
    if (chairs.length>0){
        print('<h3>Conference Chairs</h3><ul data-role="listview" data-inset="true">');
        for (var i=0; i<chairs.length;i++){
            print('<li>'+chairs[i].fullName+'</a></li>');
        }
        print('</ul>');
    }
  }
%>
<%
    if (url != ''){
        print('<h3>Indico Webpage</h3>');
        print('<p><a data-role="button" data-icon="arrow-r" data-iconpos="right" data-mini="true" href="'+url+'" target="_blank">' + title + '</a></p>');
    }
%>
</div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
      <ul class="ui-grid-c">
        <li class="ui-block-a">
          <a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%= id %>_agenda">Sessions</a>
        </li>

        <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
        <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
        <li class="ui-block-d"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
        </ul>
    </div>
</div>
</script>