<script type="text/template" id="ongoingContribution">
<li>
    <a href="#contribution_<%=eventId%>_<%=contributionId%>" style="padding-right: 45px;" rel="external">
        <%= title %></a>
</li>
</script>

<script type="text/template" id="ongoingLecture">
<li>
    <a href="#event_<%=eventId%>" style="padding-right: 45px;" rel="external">
        <%= title %></a>
</li>
</script>

<script type="text/template" id="ongoingPoster">
<li>
    <a href="#sessions_<%= eventId %>" style="padding-right: 45px;" rel="external">
        Poster Session</a>
</li>
</script>

<script type="text/template" id="contribution">
<li>
    <a href="#contribution_<%=conferenceId%>_<%=contributionId%>" style="padding-right: 45px;" rel="external">
        <span  style="background: <%=color%>;" class="sessionColor"></span>
        <%= title %></a>
    <a href="" id="addRemoveContribution" action="add" data-icon="star" eventId="<%=conferenceId%>"contributionId="<%=contributionId%>" data-iconpos="notext" data-theme="c">Add this contribution to my agenda</a>
</li>
</script>

<script type="text/template" id="contributionInAgenda">
<li>
    <a href="#contribution_<%=eventId%>_<%=contributionId%>" rel="external" style="padding-right: 45px;">
        <%
        if (sessionTitle != ''){
            print('<span  style="background: ' + color +';" class="sessionColor"></span>');
        }
        %>
        <%= title %>
    </a>
    <a href="" id="addRemoveContribution" action="remove" data-icon="star" dayDate="<%=dayDate%>" eventId="<%=eventId%>" sessionId="<%=sessionId%>" sessionUniqueId="<%=sessionUniqueId%>" contributionId="<%=contributionId%>" data-iconpos="notext" data-theme="b">Remove this contribution from my agenda</a>
</li>
</script>

<script type="text/template" id="agendaContribution">
<li>
    <a href="#contribution_<%=eventId%>_<%=contributionId%>_agenda" style="padding-right: 45px;" rel="external">
        <%
        if (sessionTitle != ''){
            print('<span  style="background: ' + color +';" class="sessionColor"></span>');
        }
        %>
        <%= title %></a>
    <a href="" id="removeContribution" data-icon="delete" eventId="<%=eventId%>" dayDate="<%=dayDate%>" sessionId="<%=sessionId%>" sessionUniqueId="<%=sessionUniqueId%>" dayDate="<%=dayDate%>" contributionId="<%=contributionId%>" data-iconpos="notext" data-theme="c">Remove this contribution from my agenda</a>
</li>
</script>

<script type="text/template" id="poster">
<li>
    <a href="#sessionDay_<%= conferenceId %>_<%= slot.sessionId %>_<%=slot.startDate.date%>" style="padding-right: 45px;" rel="external">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= slot.title %></a>
    <a href="" id="addRemoveSession" sessionId="<%= slot.sessionId %>" dayDate="<%=slot.startDate.date%>" eventId="<%= conferenceId %>" action="add" data-icon="star" data-iconpos="notext" data-theme="c">Add this session to my agenda</a>
</li>
</script>

<script type="text/template" id="posterInAgenda">
<li>
    <a href="#sessionDay_<%= eventId %>_<%= sessionId %>_<%=dayDate%>" style="padding-right: 45px;" rel="external">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= sessionTitle %></a>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" dayDate="<%=dayDate%>" eventId="<%= eventId %>" action="remove" data-icon="star" data-iconpos="notext" data-theme="b">Remove this session from my agenda</a>
</li>
</script>

<script type="text/template" id="agendaPoster">
<li>
    <a href="#sessionDay_<%= eventId %>_<%= sessionId %>_<%=dayDate%>_agenda" style="padding-right: 45px;" rel="external">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= sessionTitle %></a>
    <a href="" id="removeSession" sessionId="<%= sessionId %>" dayDate="<%=dayDate%>" eventId="<%= eventId %>" data-icon="delete" data-iconpos="notext" data-theme="c">Remove this session from my agenda</a>
</li>
</script>

<script type="text/template" id="contributionDetail">
<div data-role="header" data-theme="c">
        <a href="javascript:history.go(-1)" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3><%=title%></h3>
        <%
            if (location!=''&&room!=''){
               print('<p>'+location+' - '+room+'</p>');
            }
            else if (location!=''&&room==''){
               print('<p>'+location+'</p>');
            }
            else if (location==''&&room!=''){
               print('<p>'+room+'</p>');
            }
        %>
        <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = startDate.date.split('-');
        print('<p>'+month[date[1]-1]+' '+date[2]+', '+date[0]);
        %> -
        <%
        var time = startDate.time.split(':');
        print(time[0]+'h'+time[1]+'</p>');
        %></div>
</div>
    <div data-role="content">
        <h4><% if(description!=''){print('Description')} else {print('No
            description')}%></h4>
        <p style="white-space: normal; text-align: justify;"><%= description %></p>
        
        <%
            if (typeof(presenters)!="undefined"){
                if (presenters.length>0){
                    print('<h4>Presenters</h4><ul data-role="listview" data-inset="true">');
                    for (var i=0; i<presenters.length;i++){
                       print('<li><a href="#speaker_<%=conferenceId%>_<%=presenters[i].id%>" rel="external">'+presenters[i].name+'</a></li>');
                    }
                    print('</ul>');
                }
            }
        %>
        <%
        if (typeof(material)!="undefined"){
            if (material.length>0){
                print('<h4>Materials</h4><div data-role="collapsible-set" data-inset="true">');
                for (var i=0; i<material.length; i++){
                    print('<div data-role=\"collapsible\" data-theme="b"><h2>'+material[i].title+'</h2><ul data-role=\"listview\" data-inset=\"true\">');
                    for (var j=0; j<material[i].resources.length; j++){
                        var ext = material[i].resources[j].name.substr(material[i].resources[j].name.lastIndexOf('.') + 1);
                            print('<li data-icon=\"download\" data-theme="c"><a data-inline=\"true\" href=\"'+
                            material[i].resources[j].url+
                            '\" target=\"_blank\" >'+material[i].resources[j].name+
                            '</a></li>');
                    }
                    print('</ul></div>');
                }

               print('</div>');
            }
         }
        %>
    </div>
</script>

<script type="text/template" id="agendaContributionDetail">
<div data-role="header" data-theme="c">
        <a href="javascript:history.go(-1)" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3><%=title%></h3>
        <%
            if (location!=''&&room!=''){
               print('<p>'+location+' - '+room+'</p>');
            }
            else if (location!=''&&room==''){
               print('<p>'+location+'</p>');
            }
            else if (location==''&&room!=''){
               print('<p>'+room+'</p>');
            }
        %>
        <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = startDate.date.split('-');
        print('<p>'+month[date[1]-1]+' '+date[2]+', '+date[0]);
        %> -
        <%
        var time = startDate.time.split(':');
        print(time[0]+'h'+time[1]+'</p>');
        %></div>
</div>
    <div data-role="content">
        <h4><% if(description!=''){print('Description')} else {print('No
            description')}%></h4>
        <p style="white-space: normal; text-align: justify;"><%= description %></p>
        <%
            if (sessionTitle != ''){
                print('<h4>Session</h4>');
                print('<a data-role=\"button\" data-mini=\"true\" href=\"#session_' + eventId + '_' + sessionId + '_agenda\" rel=\"external\">');
                print('<span style=\"background:' + color + ';\" class=\"sessionColor\">');
                print('</span>');
                print(sessionTitle);
                print('</a>');
            }
        %>
        <%
            if (typeof(presenters)!="undefined"){
                if (presenters.length>0){
                    print('<h4>Presenters</h4><ul data-role="listview" data-inset="true">');
                    for (var i=0; i<presenters.length;i++){
                       print('<li><a href="#speaker_<%=eventId%>_<%=presenters[i].id%>_agenda" rel="external">'+presenters[i].name+'</a></li>');
                    }
                    print('</ul>');
                }
            }
        %>
        <%
        if (typeof(material)!="undefined"){
            if (material.length>0){
                print('<h4>Materials</h4><div data-role="collapsible-set" data-inset="true">');
                for (var i=0; i<material.length; i++){
                    print('<div data-role=\"collapsible\" data-theme="b"><h2>'+material[i].title+'</h2><ul data-role=\"listview\" data-inset=\"true\">');
                    for (var j=0; j<material[i].resources.length; j++){
                        var ext = material[i].resources[j].name.substr(material[i].resources[j].name.lastIndexOf('.') + 1);
                            print('<li data-icon=\"download\" data-theme="c"><a data-inline=\"true\" href=\"'+
                            material[i].resources[j].url+
                            '\" target=\"_blank\" >'+material[i].resources[j].name+
                            '</a></li>');
                    }
                    print('</ul></div>');
                }

               print('</div>');
            }
         }
        %>
</div>
</script>

<script type="text/template" id="contributionFooter">
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul class="ui-grid-c">
            <li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=id%>">Sessions</a></li>
            <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>">Timetable</a></li>
            <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>">Speakers</a></li>
            <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
        </ul>
    </div>
</div>
</script>

<script type="text/template" id="agendaContributionFooter">
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <% if (numSessions !== 0){
            print('<ul class="ui-grid-c">');
            print('<li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_' + id + '_agenda">Sessions</a></li>');
            }
            else{
                print('<ul class="ui-grid-b">');
            }
        %>
        <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
        <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
        <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
        </ul>
    </div>
</div>
</script>
