<script type="text/template" id="dayPage">
    <div data-role="header" data-theme="c">
        <a href="#timetable_<%=eventId%>" rel="external" data-icon="back">Back</a>
        <h3><%= date %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <input type="text" data-type="search" id="searchContrib_<%=eventId%>_<%=date%>">
        <div id="day_list_<%=eventId%>_<%= date %>"></div>
    </div>
</script>

<script type="text/template" id="agendaDayPage">
    <div data-role="header" data-theme="c">
        <a href="#timetable_<%=eventId%>_agenda" rel="external" data-icon="back">Back</a>
        <h3><%= date %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <div data-role="listview" data-inset="true" id="day_list_<%=eventId%>_<%= date %>_agenda"></div>
    </div>
</script>

<script type="text/template" id="sessionDay">
    <div data-role="header" data-theme="c">
        <a href="#session_<%=eventId%>_<%= sessionId %>" rel="external" data-icon="back">Back</a>
        <h3><%= dayDate %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <input type="text" data-type="search" id="searchContrib_<%=eventId%>_<%=sessionId%>_<%=dayDate%>">
        <div id="sessionDay_list_<%=eventId%>_<%= sessionId %>_<%= dayDate %>"></div>
        </div>
</script>

<script type="text/template" id="agendaSessionDay">
    <div data-role="header" data-theme="c">
        <a href="#session_<%=eventId%>_<%= sessionId %>_agenda" rel="external" data-icon="back">Back</a>
        <h3><%= dayDate %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <div id="sessionDay_list_<%=eventId%>_<%= sessionId %>_<%= dayDate %>_agenda"></div>
        </div>
</script>


<script type="text/template" id="timetableDays">
<div data-role="page" id="timetable_<%= id %>">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>" rel="external" data-icon="back">Back</a>
        <h3><%= title %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <ul data-role="listview" data-inset="true" id="timetable_days_<%=id%>"></ul>
    </div>
</div>
</script>


<script type="text/template" id="agendaTimetableDays">
<div data-role="page" id="timetable_<%= id %>_agenda">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>_agenda" rel="external" data-icon="back">Back</a>
        <h3><%= title %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <ul data-role="listview" data-inset="true" id="timetable_days_<%=id%>_agenda"></ul>
    </div>
</div>
</script>

<script type="text/template" id="timetableDaysList">
<li id="li_<%=eventId%>_<%= dayDate %>">
    <a href="#timetableDay_<%=eventId%>_<%= dayDate %>" rel="external"><%=dayDate %></a>
</li>
</script>

<script type="text/template" id="agendaTimetableDaysList">
<li id="li_<%=eventId%>_<%= dayDate %>_agenda">
    <a href="#timetableDay_<%=eventId%>_<%= dayDate %>_agenda" rel="external"><%=dayDate %></a>
</li>
</script>

<script type="text/template" id="sessionDaysList">
<li>
    <a href="#sessionDay_<%=eventId%>_<%= sessionId %>_<%= dayDate %>" rel="external"><%=dayDate %></a>
</li>
</script>

<script type="text/template" id="agendaSessionDaysList">
<li>
    <a href="#sessionDay_<%=eventId%>_<%= sessionId %>_<%= dayDate %>_agenda" rel="external"><%=dayDate %></a>
</li>
</script>