<script type="text/template" id="dayPage">
<div data-role="header" data-theme="c">
    <a href="#timetable_<%=eventId%>" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
    <h3>Indico Mobile</h3>
    <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3>
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var newDate = date.split('-');
        print(month[newDate[1]-1]+' '+newDate[2]+', '+newDate[0]);
    %>
        </h3>
    </div>
</div>
    <div data-role="content">
        <input type="text" data-type="search" id="searchContrib_<%=eventId%>_<%=date%>">
        <div id="day_list_<%=eventId%>_<%= date %>"></div>
    </div>
</script>

<script type="text/template" id="dayFooterPage">
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
                <% if (numSessions !== 0){
                    print('<ul class="ui-grid-c">');
                    print('<li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_' + id + '">Sessions</a></li>');
                    }
                    else{
                        print('<ul class="ui-grid-b">');
                    }
                %>
                <li class="ui-block-b"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=id%>">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=id%>">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="agendaDayPage">
<div data-role="header" data-theme="c">
    <a href="#timetable_<%=eventId%>_agenda" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
    <h3>Indico Mobile</h3>
    <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
</div>
<div class="headerTitle">
    <div class="headerElement"><h3>
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var newDate = date.split('-');
        print(month[newDate[1]-1]+' '+newDate[2]+', '+newDate[0]);
    %>
        </h3>
    </div>
</div>
    <div data-role="content">
        <div data-role="listview" data-inset="true" id="day_list_<%=eventId%>_<%= date %>_agenda"></div>
    </div>
</script>

<script type="text/template" id="agendaDayFooterPage">
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
                <% if (numSessions !== 0){
                    print('<ul class="ui-grid-c">');
                    print('<li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_' + id + '_agenda">Sessions</a></li>');
                    }
                    else{
                        print('<ul class="ui-grid-b">');
                    }
                %>
                <li class="ui-block-b"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="sessionDay">
    <div data-role="header" data-theme="c">
        <a href="#session_<%=eventId%>_<%= sessionId %>" rel="external" data-icon="back" data-role="button" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <div class="headerElement"><h3 class="headerTitleMargin">
        <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = dayDate.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
        %>
        </h3></div>
    </div>
    <div data-role="content">
        <input type="text" data-type="search" id="searchContrib_<%=eventId%>_<%=sessionId%>_<%=dayDate%>">
        <div id="sessionDay_list_<%=eventId%>_<%= sessionId %>_<%= dayDate %>"></div>
        </div>
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
            <ul class="ui-grid-c">
                <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=eventId%>">Sessions</a></li>
                <li class="ui-block-b"><a rel="external" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=eventId%>">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=eventId%>">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=eventId%>">About</a></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="agendaSessionDay">
    <div data-role="header" data-theme="c">
        <a href="#session_<%=eventId%>_<%= sessionId %>_agenda" rel="external" data-icon="back" data-role="button" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <div class="headerElement"><h3 class="headerTitleMargin">
        <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = dayDate.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
        %>
        </h3></div>
    </div>
    <div data-role="content">
        <div id="sessionDay_list_<%=eventId%>_<%= sessionId %>_<%= dayDate %>_agenda"></div>
        </div>
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
            <ul class="ui-grid-c">
                <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=eventId%>_agenda">Sessions</a></li>
                <li class="ui-block-b"><a rel="external" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=eventId%>_agenda">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=eventId%>_agenda">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=eventId%>_agenda">About</a></li>
            </ul>
        </div>
    </div>
</script>


<script type="text/template" id="timetableDays">
<div data-role="page" id="timetable_<%= id %>">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>" rel="external" data-icon="back" data-role="button" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <div class="headerElement"><h3 class="headerTitleMargin"><%= title %></h3></div>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true" id="timetable_days_<%=id%>"></ul>
    </div>
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
                <% if (numSessions !== 0){
                    print('<ul class="ui-grid-c">');
                    print('<li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_' + id + '">Sessions</a></li>');
                    }
                    else{
                        print('<ul class="ui-grid-b">');
                    }
                %>
                <li class="ui-block-b"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=id%>">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=id%>">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
            </ul>
        </div>
    </div>
</div>
</script>


<script type="text/template" id="agendaTimetableDays">
<div data-role="page" id="timetable_<%= id %>_agenda">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>_agenda" rel="external" data-icon="back" data-role="button" data-iconpos="notext"></a>
        <h3>Indico Mobile</h3>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <div class="headerElement"><h3 class="headerTitleMargin"><%= title %></h3></div>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true" id="timetable_days_<%=id%>_agenda"></ul>
    </div>
    <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
        <div data-role="navbar">
                <% if (numSessions !== 0){
                    print('<ul class="ui-grid-c">');
                    print('<li class="ui-block-a"><a rel="external" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_' + id + '_agenda">Sessions</a></li>');
                    }
                    else{
                        print('<ul class="ui-grid-b">');
                    }
                %>
                <li class="ui-block-b"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="timetable" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
                <li class="ui-block-c"><a rel="external" data-iconpos="top" data-icon="speakers" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
                <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
            </ul>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="timetableDaysList">
<li id="li_<%=eventId%>_<%= date %>">
    <a href="#timetableDay_<%=eventId%>_<%= date %>" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = date.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
    %>
    </a>
</li>
</script>

<script type="text/template" id="agendaTimetableDaysList">
<li id="li_<%=eventId%>_<%= date %>_agenda">
    <a href="#timetableDay_<%=eventId%>_<%= date %>_agenda" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = date.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
    %>
    </a>
</li>
</script>

<script type="text/template" id="sessionDaysList">
<li>
    <a href="#sessionDay_<%=eventId%>_<%= sessionId %>_<%= dayDate %>" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = dayDate.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
    %>
    </a>
</li>
</script>

<script type="text/template" id="agendaSessionDaysList">
<li>
    <a href="#sessionDay_<%=eventId%>_<%= sessionId %>_<%= dayDate %>_agenda" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = dayDate.split('-');
        print(month[date[1]-1]+' '+date[2]+', '+date[0]);
    %>
    </a>
</li>
</script>