<script type="text/template" id="eventPage">
<div data-role="page" id="event_<%=id%>">
    <div data-role="header" data-theme="c">
        <a href="#eventHome" data-icon="back" data-iconpos="notext"></a>
        <h1 id="headerTitle"><%=title%></h1>
    </div>
        <div data-role="content" data-theme="c">
            <div class="ui-grid-a" data-inset="true">
                <div class="ui-block-a">
                    <a href="#sessions_<%= id %>" rel="external" class="buttonIcon">
                        <img data-role="button" src="static/style/images/sessions.png" class="buttonIcon">
                        </img>
                    </a>
                    <p style="text-align: center;">Sessions</p>
                </div>
                <div class="ui-block-b">
                    <a href="#timetable_<%= id %>" rel="external" class="buttonIcon">
                        <img data-role="button" class="buttonIcon" src="static/style/images/timetable.png">
                    </img>
                    </a>
                    <p style="text-align: center;">Timetable</p>
                </div>
                <div class="ui-block-a">
                    <a href="#speakers_<%= id %>" rel="external" class="buttonIcon">
                        <img data-role="button" class="buttonIcon" src="static/style/images/speaker.png">
                        </img>
                    </a>
                    <p style="text-align: center;">Speakers</p>
                </div>
            </div>
    </div>
  </div>
</script>

<script type="text/template" id="agendaEventPage">
<div data-role="page" id="event_<%=id%>_agenda">
    <div data-role="header" data-theme="c">
        <a href="#eventHome" data-icon="back" data-iconpos="notext"></a>
        <h1 id="headerTitle"><%=title%></h1>
    </div>
        <div data-role="content" data-theme="c">
            <div class="ui-grid-a" data-inset="true">
                <div class="ui-block-a">
                    <a href="#sessions_<%= id %>_agenda" rel="external" class="buttonIcon">
                        <img data-role="button" src="static/style/images/sessions.png" class="buttonIcon">
                        </img>
                    </a>
                    <p style="text-align: center;">Sessions</p>
                </div>
                <div class="ui-block-b">
                    <a href="#timetable_<%= id %>_agenda" rel="external" class="buttonIcon">
                        <img data-role="button" class="buttonIcon" src="static/style/images/timetable.png">
                    </img>
                    </a>
                    <p style="text-align: center;">Timetable</p>
                </div>
                <div class="ui-block-a">
                    <a href="#speakers_<%= id %>_agenda" rel="external" class="buttonIcon">
                        <img data-role="button" class="buttonIcon" src="static/style/images/speaker.png">
                        </img>
                    </a>
                    <p style="text-align: center;">Speakers</p>
                </div>
            </div>
    </div>
  </div>
</script>

<script type="text/template" id="eventList">
<li>
    <a href="#event_<%=id%>" rel="external">
        <%if (attributes.title!='') { print(attributes.title); } else { print('Event'+id); }%>
    </a>
    <a data-icon="star" href="" data-theme="c" eventId="<%=id%>" id="addEventToAgenda" data-iconpos="notext"></a>
</li>
</script>

<script type="text/template" id="eventListInAgenda">
<li data-theme="c">
    <a data-theme="c" href="#event_<%=id%>" rel="external"><%=attributes.title%></a>
    <a data-theme="g" href="" data-icon="star" eventId="<%=id%>" id="removeEventFromAgenda" data-iconpos="notext"></a>
</li>
</script>

<script type="text/template" id="agendaEventList">
<li>
    <a href="#event_<%=id%>_agenda" rel="external">
        <%if(attributes.title!=''){print(attributes.title);}else{print('Event'+id);}%>
    </a>
</li>
</script>