<script type="text/template" id="contribution">
<li>
    <a href="#contribution_<%if (inAgenda) {print('agenda_')}%><%=conferenceId%>_<%=contributionId%>" style="padding-right: 45px;" rel="external">
    <% if (color){ %> 
        <span  style="background: <%=color%>;" class="sessionColor"></span>
    <% } %>
    <%= title %></a>
    <a href="" id="addRemoveContribution"
    <%  if (inAgenda){ %>
        action="remove" data-icon="delete"
    <% } else{ %>
    action="add" data-icon="star"
    <% } %>
    eventId="<%=conferenceId%>"contributionId="<%=contributionId%>" data-iconpos="notext" data-theme="c"></a>
</li>
</script>

<script type="text/template" id="contributionHappening">
<li>
    <a href="#contribution_<%if (inAgenda) {print('agenda_')}%><%=conferenceId%>_<%=contributionId%>" style="padding-right: 45px;" rel="external">
    <% if (color){ %> 
        <span  style="background: <%=color%>;" class="sessionColor"></span>
    <% } %>
    <%= title %>
    <% if (hasAnyProtection) {%>
        <span class="protected">(protected)</span>
    <% } %>
    </a>
    <a href="" id="addRemoveContribution"
    <%  if (inAgenda){ %>
        action="remove" data-icon="delete"
    <% } else{ %>
    action="add" data-icon="star"
    <% } %>
    eventId="<%=conferenceId%>"contributionId="<%=contributionId%>" data-iconpos="notext" data-theme="c"></a>
</li>
</script>

<script type="text/template" id="eventList">
<li>
    <% if (inAgenda){ %>
        <a href="#event_agenda_<%=id%>" rel="external" style="padding-right: 45px;">
    <% } else { %>
        <a href="#event_<%=id%>" rel="external" style="padding-right: 45px;">
    <% } %>
    <%=title%>
    <% if (hasAnyProtection) {%>
        <span class="protected">(protected)</span>
    <% } %>
    </a>
    <% if (inAgenda){ %>
        <a data-icon="delete" href="" data-theme="c" eventId="<%=id%>" action="remove" id="addRemoveEvent" data-iconpos="notext"></a>
    <% }  else{ %>
        <a data-icon="star" href="" data-theme="c" eventId="<%=id%>" action="add" id="addRemoveEvent" data-iconpos="notext"></a>
    <% } %>
</li>
</script>

<script type="text/template" id="eventListInAgenda">
<li>
    <a href="#event_<%=id%>" rel="external" style="padding-right: 45px;"><%= title %></a>
    <a data-icon="star" href="" data-theme="b" eventId="<%=id%>" action="remove" id="addRemoveEvent" data-iconpos="notext"></a>
</li>
</script>

<script type="text/template" id="nextEvent">
<li>
    
    <% if (type == 'simple_event') { %>
        <a href="#event_agenda_<%=id%>" rel="external">
    <% } else if (contributionId != null){ %>
        <a href="#contribution_agenda_<%=conferenceId%>_<%=contributionId%>" rel="external">
    <% } %>
        <h3><%=title%></h3>
        <p>
        <% var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var newDate = startDate.date.split('-');
        %>
        <%=month[newDate[1]-1]%> <%=newDate[2]%>, <%=newDate[0]%>
        , at <%var splittedTime = startDate.time.split(':');%>
        <%= splittedTime[0]%>h<%=splittedTime[1]%></p>
        <p><%=location%>, <%=room%></p>
    </a>
</li>
</script>

<script type="text/template" id="poster">
<li>
    <a href="#sessionDay_<%= conferenceId %>_<%= slot.sessionId %>_<%=slot.startDate.date%>" style="padding-right: 45px;" rel="external">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= slot.title %></a>
</li>
</script>

<script type="text/template" id="sessionDaysList">
<li>
    <a href="#sessionDay_<%=conferenceId%>_<%= sessionId %>_<%= startDate.date %>" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = startDate.date.split('-');
    %>
    <%=month[date[1]-1]%> <%=date[2]%>, <%=date[0]%>
    </a>
</li>
</script>

<script type="text/template" id="sessionsList">
<li>
<% if (inAgenda){ %>
    <a href="#session_agenda_<%= conferenceId %>_<%= sessionId %>" rel="external" style="padding-right: 45px;">
<% } else{ %>
    <a href="#session_<%= conferenceId %>_<%= sessionId %>" rel="external" style="padding-right: 45px;">
<% } %>
    <span  style="background:<%=color%>;" class="sessionColor"></span><%= title %></a>
<% if (inAgenda){ %>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" eventId="<%= conferenceId %>" action="remove" data-icon="delete" data-iconpos="notext" data-theme="c"></a>
<% } else{ %>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" eventId="<%= conferenceId %>" action="add" data-icon="star" data-iconpos="notext" data-theme="c"></a>
<% } %>
</li>
</script>

<script type="text/template" id="sessionsListInAgenda">
<li>
    <a href="#session_<%= conferenceId %>_<%= sessionId %>" rel="external" style="padding-right: 45px;">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= title %></a>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" eventId="<%= conferenceId %>" action="remove" data-icon="star" data-iconpos="notext" data-theme="b"></a>
</li>
</script>

<script type="text/template" id="simpleEventList">
<li>
    <% if (inAgenda){ %>
        <a href="#simpleEvent_agenda_<%=id%>" rel="external" style="padding-right: 45px;">
    <% } else{ %>
        <a href="#simpleEvent_<%=id%>" rel="external" style="padding-right: 45px;">
    <% } %>
    <%=title%></a>
    <% if (inAgenda){ %>
        <a data-icon="delete" href="" data-theme="c" eventId="<%=id%>" action="remove" id="addRemoveEvent" data-iconpos="notext"></a>
    <% } else{ %>
        <a data-icon="star" href="" data-theme="c" eventId="<%=id%>" action="add" id="addRemoveEvent" data-iconpos="notext"></a>
    <% } %>
</li>
</script>

<script type="text/template" id="simpleEventListInAgenda">
<li>
    <a href="#simpleEvent_<%=id%>" rel="external" style="padding-right: 45px;">
        <%=title%>
    </a>
    <a data-icon="star" href="" data-theme="b" eventId="<%=id%>" action="remove" id="addRemoveEvent" data-iconpos="notext"></a>
</li>
</script>

<script type="text/template" id="speakersList">
<li>
    <a href="#speaker_<%=conferenceId%>_<%=id.replace('_',':')%>" rel="external"><%=name%></a>
</li>
</script>

<script type="text/template" id="timetableDaysList">
<li id="li_<%=conferenceId%>_<%= date %>">
    <a href="#timetableDay_<%=conferenceId%>_<%= date %>" rel="external">
    <%
        var month = ["January", "February", "March", "April",
                 "May", "June", "July", "August",
                 "September", "October", "November", "December"];
        var date = date.split('-');
    %>
    <%=month[date[1]-1]%> <%=date[2]%>, <%=date[0]%>
    </a>
</li>
</script>