<script type="text/template" id="about">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3>About</h3></div>
    </div>
    <div data-role="content">
        <% if (description != ''){ %>
            <h3>Description</h3>
            <p style="text-align: justify;"><%=description%></p>
        <% } %>
        <% if (typeof(chairs)!="undefined"){ %>
            <% if (chairs.length>0){ %>
                <h3>Conference Chairs</h3><ul data-role="listview" data-inset="true">
                <% for (var i=0; i<chairs.length;i++){ %>
                    <li><%=chairs[i].fullName%></a></li>
                <% } %>
            </ul>
            <% } %>
        <% } %>
        <% if (url != ''){ %>
            <h3>Indico Desktop</h3>
            <p><a data-role="button" data-icon="arrow-r" data-iconpos="right" data-mini="true" href="<%=url%>" target="_blank"><%=title%></a></p>
        <% } %>
    </div>
</script>

<script type="text/template" id="contributionDetail">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3 style="margin:5px"><%=title%></h3>
        <div style="padding-bottom:2px"><% if (location != '' && location != null && room != '' && room != null){ %>
            <%=location%> - <%=room%>
            <span style="display: inline-block; vertical-align: middle;">
            <% if (location == 'CERN'){ %>
                <a data-role="button" href="<%=base_url%>map/location/<%=location.replace(/\//g, ' ')%>/room/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } else if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%> <%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } %>
            </span>
        <% } else if (location != '' && location != null && (room == '' || room == null)){ %>
               <%=location%>
               <span style="display: inline-block; vertical-align: middle;">
               <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
                </span>
        <% } else if ((location == '' || location == null) && room != '' && room != null){ %>
               <%=room%>
               <span style="display: inline-block; vertical-align: middle;">
               <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
                </span>
        <% } %><br>
        <%=human_start_date%> - <%=human_end_date%>
        </div>
        </div>
    </div>
    <div data-role="content">
        <% if (slot){ %>
            <a data-role="button" data-mini="true" href="#session_<%= conferenceId %>_<%= slot.sessionId %>" rel="external" style="padding-right: 45px;">
            <span  style="background:<%=slot.color%>;" class="sessionColor"></span><%= slot.title %></a>
        <% } %>
        <h4><% if(description!=''){ %>
                Description</h4>
            <% } else { %>
                No description</h4>
        <% } %>
        <p style="white-space: normal; text-align: justify;"><%= description %></p>

        <% if (typeof(presenters)!="undefined"){ %>
            <%if (presenters.length>0){ %>
                <h4>Presenters</h4>
                <ul data-role="listview" data-inset="true">
                <% for (var i=0; i<presenters.length;i++){ %>
                    <li><a href="#speaker_<%=conferenceId%>_<%=presenters[i].id%>" rel="external"><%=presenters[i].name%></a></li>
                <% } %>
                </ul>
            <% } %>
        <% } %>
        <% if (typeof(material)!="undefined"){ %>
            <% if (material.length>0){ %>
                <h4>Materials</h4>
                <div data-role="collapsible-set" data-inset="true">
                <% for (var i=0; i<material.length; i++){ %>
                    <div data-role="collapsible" data-theme="b">
                    <h2><%=material[i].title%></h2>
                    <ul data-role="listview" data-inset="true">
                    <% for (var j=0; j<material[i].resources.length; j++){ %>
                        <% var ext = material[i].resources[j].name.substr(material[i].resources[j].name.lastIndexOf('.') + 1); %>
                        <li data-theme="c" data-icon="arrow-d" ><a href="<%=material[i].resources[j].url%>" target="_blank" ><%=material[i].resources[j].name%></a></li>
                    <% } %>
                    </ul>
                    </div>
                <% } %>
               </div>
            <% } %>
        <% } %>
    </div>
</script>

<script type="text/template" id="dayPage">
<div class="headerTitle" data-role="header" data-theme="c">
    <div class="headerElement">
    <%if (prevDay) { %>
        <a data-role="button" data-iconpos="notext" data-icon="arrow-l" style="float: left;" href="#timetableDay_<%=conferenceId%>_<%=prevDay%>" rel="external"></a>
    <% } %>
    <div style="display:inline-block; margin: 11px 0; font-weight: bold;">
    <%=human_date%>
    </div>

    <%if (nextDay) { %>
        <a data-role="button" data-iconpos="notext" data-icon="arrow-r" style="float:right" href="#timetableDay_<%=conferenceId%>_<%=nextDay%>" rel="external"></a>
    <% } %>
    </div>
</div>
    <div data-role="content">
        <input type="text" data-type="search" id="searchContrib_<%=conferenceId%>_<%=date%>">
        <div id="day_list_<%=conferenceId%>_<%= date %>"></div>
        <div class="loader"><h4>Loading...</h4><img src="/static/style/images/ajax-loader2.gif"/></div>
    </div>
</script>

<script type="text/template" id="eventPanels">
    <div data-role="panel" id="nav-panel" data-position-fixed="true" data-theme="c" data-display="reveal">
        <ul data-role="listview" data-theme="c" class="nav-search">
            <li data-icon="false"><a href="<%=base_url%>" rel="external"><span class="icon-home small-icon right" aria-hidden="true"></span>Home</a></li>
            <% if (event_type != "simple_event") { %>
                <li data-role="list-divider"><%=title%></li>
                <li data-icon="false"><a id ="desktopTab" rel="external" href="#event_<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>"><span class="icon-happening small-icon right" aria-hidden="true"></span>Desktop</a></li>
                <li data-icon="false"><a id ="sessionsTab" rel="external" href="#sessions_<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>"><span class="icon-sessions small-icon right" aria-hidden="true"></span>Sessions</a></li>
                <li data-icon="false"><a id ="timetableTab" rel="external" href="#timetable_<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>"><span class="icon-timetable small-icon right" aria-hidden="true"></span>Timetable</a></li>
                <li data-icon="false"><a id ="speakersTab" rel="external" href="#speakers_<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>"><span class="icon-user small-icon right" aria-hidden="true"></span>Speakers</a></li>
                <li data-icon="false"><a id ="aboutTab" rel="external" href="#about_<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>"><span class="icon-info small-icon right" aria-hidden="true"></span>About</a></li>
            <% } %>
            <li data-role="list-divider">All events:</li>
            <li data-icon="false"><a id ="ongoing" rel="external" href="<%=base_url%>now"><span class="icon-happening small-icon right" aria-hidden="true"></span>Ongoing presentations</a></li>
            <li data-icon="false"><a id ="events" rel="external" href="<%=base_url%>events"><span class="icon-calendar small-icon right" aria-hidden="true"></span>Events</a></li>
            <%if (user) { %>
                <li data-icon="false"><a id ="favorites" rel="external" href="<%=base_url%>favorites"><span class="icon-favorites small-icon right" aria-hidden="true"></span>Favorites</a></li>
                <li data-icon="false"><a id ="history" rel="external" href="<%=base_url%>history"><span class="icon-history small-icon right" aria-hidden="true"></span>History</a></li>
            <% } %>
            <li data-role="list-divider" class="panel-divider"></li>
            <li data-icon="false"><a href="<%=indico_desktop%>/event/<% if (typeof conferenceId === 'undefined'){print(id)}else{print(conferenceId)}%>" rel="external"><span class="icon-desktop small-icon right" aria-hidden="true"></span>Indico Desktop</a>
        </ul>
    </div>
</script>
<script type="text/template" id="eventHeader">
    <div data-role="header" data-theme="c" data-position="fixed">
        <div class="nav-panel">
            <a data-role="button" href="#nav-panel" rel="external" class="icon-menu panel-button-icon" aria-hidden="true"></a>
        </div>
        <div class="settings-panel">
            <%if (user) { %>
                <a data-role="button" href="<%=base_url%>logout" rel="external" class="icon-logout panel-button-icon" aria-hidden="true"></a>
            <% } else  { %>
                <a data-role="button" href="<%=base_url%>login" rel="external" class="icon-login panel-button-icon" aria-hidden="true"></a>
            <% } %>
            <a data-role="button" href="<%=base_url%>search" rel="external" class="icon-search panel-button-icon" aria-hidden="true"></a>
        </div>
        <h3 class="banner-title" role="heading" aria-level="1">Indico Mobile</h3>
    </div>
</script>

<script type="text/template" id="eventPage">
    <div class="headerTitle" data-role="header" data-theme="c">

        <div class="headerOptions">
            <% if (typeof(favorite) != 'undefined') { %>
                <a id="favorite-toggle" class="small-button-icon <%= (favorite == true) ? 'icon-star-full' : 'icon-favorites'%>" data-role="button" eventId="<%=id%>" action="<%= (favorite == true) ? 'remove' : 'add'%>" aria-hidden="true"></a>
            <% } %>
            <% if (location != '' && location != null && room != '' && room != null){ %>
                <% if (location == 'CERN'){ %>
                    <a data-role="button" href="<%=base_url%>map/location/<%=location.replace(/\//g, ' ')%>/room/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else if (address != '' && address != null) { %>
                    <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                    <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%> <%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
            <% } else if (location != '' && location != null && (room == '' || room == null)){ %>
                <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
            <% } else if ((location == '' || location == null) && room != '' && room != null){ %>
                <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
            <% } %>
        </div>

        <div class="headerElement">
            <div class="titleElement">
                <h3 style="margin:5px; display: inline-block"><%=title%></h3>
            </div>
            <div style="padding-bottom:2px">
                <% if (location != '' && location != null && room != '' && room != null){ %>
                    <%=location%> - <%=room%>
                <% } else if (location != '' && location != null && (room == '' || room == null)){ %>
                    <%=location%>
                <% } else if ((location == '' || location == null) && room != '' && room != null){ %>
                    <%=room%>
                <% } %><br>
                <%=human_start_date%> - <%=human_end_date%>
            </div>
        </div>
    </div>

    <div data-role="content">
            <div class="ui-grid-a" data-inset="true">
                <div class="ui-block-a">
                        <a href="#sessions_<%=id%>" rel="external" data-role="button" class="button-icon icon-sessions" aria-hidden="true"></a>
                        <p class="buttonTitle">Sessions</p>
                </div>
                <div class="ui-block-b">
                        <a href="#timetable_<%=id%>" rel="external" data-role="button" class="button-icon icon-timetable" aria-hidden="true"></a>
                        <p class="buttonTitle">Timetable</p>
                </div>
                <div class="ui-block-a">
                        <a href="#speakers_<%=id%>" rel="external" data-role="button" class="button-icon icon-user" aria-hidden="true"></a>
                        <p class="buttonTitle">Speakers</p>
                </div>
                <div class="ui-block-b">
                        <a href="#about_<%=id%>" rel="external" data-role="button" class="button-icon icon-info" aria-hidden="true"></a>
                        <p class="buttonTitle">About</p>
                </div>
        </div>
    </div>
</script>

<script type="text/template" id="sessionDay">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement">
        <% if (prevDay) { %>
            <a data-role="button" data-iconpos="notext" data-icon="arrow-l" style="float:left;" href="#sessionDay_<%=conferenceId%>_<%=sessionId%>_<%=prevDay%>" rel="external"></a>
        <% } %>
        <div style="display:inline-block; margin: 11px 0; font-weight: bold;">
            <%=human_date%>
        </div>
        <% if (nextDay) { %>
            <a data-role="button" data-iconpos="notext" data-icon="arrow-r" style="float:right;" href="#sessionDay_<%=conferenceId%>_<%=sessionId%>_<%=nextDay%>" rel="external"></a>
        <% } %>
        </div>
    </div>
    <div data-role="content">
        <input type="text" data-type="search" id="searchContrib_<%=conferenceId%>_<%=sessionId%>_<%=date%>">
        <div id="sessionDay_list_<%=conferenceId%>_<%= sessionId %>_<%= date %>"></div>
        <div class="loader"><h4>Loading...</h4><img src="/static/style/images/ajax-loader2.gif"/></div>
    </div>
</script>

<script type="text/template" id="sessionPage">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3><%= title %></h3></div>
    </div>
    <div data-role="content">
        <div id="sessionDays_<%=conferenceId%>_<%= sessionId %>"></div>
    </div>
</script>

<script type="text/template" id="sessionsPage">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3>Sessions</h3></div>
    </div>
    <div data-role="content">
        <div id="sessionsList_<%= id %>"></div>
    </div>
</script>

<script type="text/template" id="simpleEventPage">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement">
            <h3 style="margin:5px"><%=title%></h3>
            <div style="vertical-align: middle; padding-bottom:2px">
        <% if (location != '' && location != null && room != '' && room != null){ %>
            <%=location%> - <%=room%>
            <span style="display: inline-block; vertical-align: middle;">
            <% if (location == 'CERN'){ %>
                <a data-role="button" href="<%=base_url%>map/location/<%=location.replace(/\//g, ' ')%>/room/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } else if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%> <%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
            <% } %>
            </span>
        <% } else if (location != '' && location != null && (room == '' || room == null)){ %>
               <%=location%>
               <span style="display: inline-block; vertical-align: middle;">
               <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=location.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
                </span>
        <% } else if ((location == '' || location == null) && room != '' && room != null){ %>
               <%=room%>
                <span style="display: inline-block; vertical-align: middle;">
               <% if (address != '' && address != null) { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=address.replace(/[\r\n]/g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } else { %>
                <a data-role="button" href="<%=base_url%>map/search/<%=room.replace(/\//g, ' ')%>/" rel="external" class="small-button-icon icon-map" aria-hidden="true"></a>
                <% } %>
                </span>
        <% } %></div>
        <%=human_start_date%> - <%=human_start_time%>
        </div>
    </div>
    <div data-role="content">
        <h4>
        <% if(description!=''){ %>
            Description
        <% } else { %>
            No description
        <% } %>
        </h4>
        <p style="white-space: normal; text-align: justify;"><%= description %></p>
        <% if (typeof(chairs)!="undefined"){ %>
            <% if (chairs.length>0){ %>
                <h4>Presenters</h4>
                <ul data-role="listview" data-inset="true">
                <% for (var i=0; i<chairs.length;i++){ %>
                    <li><%=chairs[i].fullName%></a></li>
                <% } %>
                </ul>
            <% } %>
        <% } %>
        <% if (typeof(material)!="undefined"){ %>
            <% if (material.length>0){ %>
                <h4>Materials</h4>
                <div data-role="collapsible-set" data-inset="true">
                <% for (var i=0; i<material.length; i++){ %>
                    <div data-role="collapsible" data-theme="b">
                    <h2><%=material[i].title%></h2>
                    <ul data-role="listview" data-inset="true">
                    <% for (var j=0; j<material[i].resources.length; j++){ %>
                        <li data-icon="download" data-theme="c"><a data-inline="true" href="<%=material[i].resources[j].url%>" target="_blank" ><%=material[i].resources[j].name%></a></li>
                    <% } %>
                    </ul>
                    </div>
                <% } %>
                </div>
            <% } %>
        <% } %>
    </div>
</script>

<script type="text/template" id="speakerPage">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3><%= name %></h3></div>
    </div>
    <div data-role="content">
        <div data-theme="c"  id="speaker_contribs_<%=conferenceId%>_<%print(id.replace('_',':'));%>"></div>
    </div>
</script>

<script type="text/template" id="speakersPage">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3>Speakers</h3></div>
    </div>
    <div data-role="content">

    <% if (!id.match('^favorites_')){ %>
        <input type="text" data-type="search" id="searchSpeaker_<%=id%>">
    <% } %>

        <div id="speakersContent_<%=id%>"></div>
        <div class="loader"><h4>Loading...</h4><img src="/static/style/images/ajax-loader2.gif"/></div>
        <div class="emptyMessage" style="display:none;"><h4>No speakers found.</h4></div>
    </div>
</script>

<script type="text/template" id="timetableDays">
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerElement"><h3><%= title %></h3></div>
    </div>
    <div data-role="content">
        <div id="timetable_days_<%=id%>"></div>
    </div>
</script>