<script type="text/template" id="sessionsPage">
<div data-role="page" id="sessions_<%= id %>">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>" rel="external" data-icon="back" data-iconpos="notext"></a>
        <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <h3 class="headerTitleMargin">Sessions</h3>
    </div>
    <div data-role="content">
        <div id="sessions_list_<%= id %>"></div>
    </div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul class="ui-grid-c">
            <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=id%>">Sessions</a></li>
            <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>">Timetable</a></li>
            <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>">Speakers</a></li>
            <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
        </ul>
    </div>
</div>
</div>
</script>

<script type="text/template" id="agendaSessionsPage">
<div data-role="page" id="sessions_<%= id %>_agenda">
    <div data-role="header" data-theme="c">
        <a href="#event_<%= id %>_agenda" rel="external" data-icon="back" data-iconpos="notext"></a>
        <a href="/agenda" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <h3 class="headerTitleMargin">Sessions</h3>
    </div>
    <div data-role="content" id="sessions_list_<%= id %>_agenda">
    </div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul class="ui-grid-c">
            <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=id%>_agenda">Sessions</a></li>
            <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
            <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
            <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
        </ul>
    </div>
</div>
</div>
</script>

<script type="text/template" id="sessionPage">
<div data-role="page" id="session_<%=eventId%>_<%= sessionId %>">
    <div data-role="header" data-theme="c">
        <a href="#sessions_<%=eventId%>" rel="external" data-icon="back" data-iconpos="notext"></a>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <h3 class="headerTitleMargin"><%= title %></h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" id="session_days_<%=eventId%>_<%= sessionId %>" data-inset="true"></ul>
    </div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul class="ui-grid-c">
            <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=id%>">Sessions</a></li>
            <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>">Timetable</a></li>
            <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>">Speakers</a></li>
            <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>">About</a></li>
        </ul>
    </div>
</div>
</div>
</script>

<script type="text/template" id="agendaSessionPage">
<div data-role="page" id="session_<%=eventId%>_<%= sessionId %>_agenda">
    <div data-role="header" data-theme="c">
        <a href="#sessions_<%=eventId%>_agenda" rel="external" data-icon="back" data-iconpos="notext"></a>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div class="headerTitle">
        <h3 class="headerTitleMargin"><%= title %></h3>
    </div>
    <div data-role="content">
        <ul data-role="listview" id="session_days_<%=eventId%>_<%= sessionId %>_agenda" data-inset="true"></ul>
    </div>
<div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
    <div data-role="navbar">
        <ul class="ui-grid-c">
            <li class="ui-block-a"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="sessions" data-icon href="#sessions_<%=id%>_agenda">Sessions</a></li>
            <li class="ui-block-b"><a data-iconpos="top" data-icon="timetable" rel="external" data-icon href="#timetable_<%=id%>_agenda">Timetable</a></li>
            <li class="ui-block-c"><a data-iconpos="top" data-icon="speakers" rel="external" data-icon href="#speakers_<%=id%>_agenda">Speakers</a></li>
            <li class="ui-block-d"><a rel="external" data-iconpos="top" data-icon="about" data-icon href="#about_<%=id%>_agenda">About</a></li>
        </ul>
    </div>
</div>
</div>
</script>

<script type="text/template" id="sessionsList">
<li>
    <a href="#session_<%= eventId %>_<%= sessionId %>" rel="external" style="padding-right: 45px;">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= title %></a>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" eventId="<%= eventId %>" action="add" data-icon="star" data-iconpos="notext" data-theme="c">Add this session to my agenda</a>
</li>
</script>

<script type="text/template" id="sessionsListInAgenda">
<li>
    <a href="#session_<%= eventId %>_<%= sessionId %>" rel="external" style="padding-right: 45px;">
        <span  style="background:<%=color%>;" class="sessionColor"></span><%= title %></a>
    <a href="" id="addRemoveSession" sessionId="<%= sessionId %>" eventId="<%= eventId %>" action="remove" data-icon="star" data-iconpos="notext" data-theme="b">Remove this session from my agenda</a>
</li>
</script>

<script type="text/template" id="agendaSessionsList">
<li>
    <a href="#session_<%= eventId %>_<%= sessionId %>_agenda" rel="external" style="padding-right: 45px;"><%= title %></a>
    <a href="" id="removeSession" sessionId="<%= sessionId %>" eventId="<%= eventId %>" data-icon="delete" data-iconpos="notext" data-theme="c">Remove this session from my agenda</a>
</li>
</script>