<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assets "style_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        {% assets "core_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <script type="text/javascript" src="/static/js/agendaInit.js"></script>
    <title>Indico Mobile - Agenda</title>
    </head>
    <body id="myagenda">
        <div data-role="page" id="eventHome">
            <div data-role="header" data-theme="c">
                <a href="/" data-role="button" data-icon="home" rel="external" data-iconpos="notext"></a>
                <h3>Indico Mobile</h3>
                <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
            </div>
            <div class="headerTitle">
                <div class="headerElement"><h3>Agenda</h3></div>
            </div>
            <div data-role="content" id="agendaEventList">
            </div>
            <div data-role="footer" data-id="bar" data-position="fixed" data-theme="c">
                <div data-role="navbar">
                    <ul class="ui-grid-c">
                        <li class="ui-block-a"><a data-iconpos="top" data-icon="new" rel="external" data-icon href="/now/">Happening</a></li>
	                    <li class="ui-block-b"><a data-iconpos="top" data-icon="event" rel="external" data-icon href="/events/">Events</a></li>
                        <li class="ui-block-c"><a class="ui-btn-active ui-state-persist" data-iconpos="top" data-icon="agenda" data-icon href="/agenda/">Agenda</a></li>
	                    <li class="ui-block-d"><a data-iconpos="top" data-icon="history" rel="external" data-icon href="/history/">History</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
