{% extends "baselayout.html" %}
{% block head %}
    {% assets "goingon_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block pageId %}eventHome{% endblock %}
{% block menuheader%}
    <div><a href="#nav-panel" rel="external"><span class="icon-menu small-icon left" aria-hidden="true"></span></a></div>
{% endblock %}
{% block pageheader%}
{% endblock %}
{% block body %}
    <div class="headerTitle">
        <div class="headerElement"><h3>{% block header %}{% endblock %}</h3></div>
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}
