<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Indico Mobile - {% block pagetitle %}{% endblock %}</title>
        {% assets "style_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        <script type="text/javascript">
              var TPL_DIR = "{{ url_for('static', filename='tpls/') }}";
              var IMAGE_DIR = "{{ url_for('static', filename='style/images/') }}";
              var BASE_URL = "{{ url_for('routing.index', _external=True ) }}";
        </script>
        {% assets "core_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block head %}
        {% endblock %}
    </head>
    <body id="allpages">
    <div data-role="page" id="{% block pageId %}{% endblock %}">
        <div data-role="header" data-theme="c" data-position="fixed">
            <h3 role="heading" aria-level="1">Indico Mobile</h3>
            {% block menuheader %}
            {% endblock %}
            <div>
                <a href="#settings-panel" rel="external"><span class="icon-settings small-icon right"></span></a>
            </div>
            {% block pageheader %}
            {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
        <div data-role="panel" id="settings-panel" data-position-fixed="true" data-theme="c" data-display="overlay" data-position="right">
            <ul data-role="listview" data-theme="c" class="nav-search">
                <li data-icon="false"><a href="#" data-rel="close"><span class="icon-close small-icon" aria-hidden="true"></span></a></li>
                <li data-role="list-divider">Options</li>
                <li data-icon="false"><a href="{{url_for('routing.search')}}" rel="external"><span class="icon-search small-icon" aria-hidden="true"></span>Search</a>
                <li data-icon="false">
                    {% if session['indico_user'] %}
                    <a href="{{url_for('oauth_client.logout')}}" rel="external"><span class="icon-logout small-icon" aria-hidden="true"></span>Logout</a>
                    {% else %}
                    <a href="{{url_for('oauth_client.login')}}" rel="external"><span class="icon-login small-icon" aria-hidden="true"></span>Login</a>
                    {% endif %}
                </li>
                <li data-icon="false"><a href="{{config.get('INDICO_URL')}}" rel="external"><span class="icon-desktop small-icon" aria-hidden="true"></span>Indico Desktop</a>
            </ul>
        </div>
    </div>
    </body>
</html>
