<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Indico Mobile - {% block pagetitle %}{% endblock %}</title>
        {% include "vars.html" %}
        {% assets "style_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        {% assets "core_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}


        {% if config.get('STATISTICS_SERVER') != "" and config.get('STATISTICS_SITE') %}
            <script type="text/javascript">
                 var STATISTICS_SERVER = "{{config.get('STATISTICS_SERVER')}}";
                 var STATISTICS_SITE = "{{config.get('STATISTICS_SITE')}}";
                 if(location.protocol === "https:" && STATISTICS_SITE.indexOf("https://") != 0) {
                     STATISTICS_SITE = STATISTICS_SITE.replace("http", "https");
                 }
            </script>
            {% assets "statistics_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endif %}
        {% block head %}
        {% endblock %}
    </head>
    <body id="allpages">
    <div data-role="page" id="{% block pageId %}{% endblock %}">
        <div data-role="header" data-theme="c" data-position="fixed">
            <div class="banner-buttons-left">
                {% block icons_header %}
                {% endblock %}
                <a data-role="button" href="#nav-panel" rel="external" class="icon-menu panel-button-icon" aria-hidden="true"></a>
            </div>
            <div class="banner-buttons-right">
                {% if session['indico_user'] %}
                    <a data-role="button" href="{{url_for('oauth_client.logout')}}" rel="external" class="icon-logout panel-button-icon" aria-hidden="true"></a>
                {% else %}
                    <a data-role="button" href="{{url_for('oauth_client.login')}}" rel="external" class="icon-login panel-button-icon" aria-hidden="true"></a>
                {% endif %}
                <a data-role="button" href="{{url_for('routing.search')}}" rel="external" class="icon-search panel-button-icon" aria-hidden="true"></a>
            </div>
            <h3 class="banner-title" role="heading" aria-level="1">Indico Mobile</h3>
        </div>
        {% block pageheader %}
            <div class="headerTitle" data-role="header" data-theme="c">
                <div class="headerElement"><h3>{% block header %}{% endblock %}</h3></div>
            </div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        <div data-role="panel" id="nav-panel" data-position-fixed="true" data-theme="c" data-display="reveal" data-position="left">
            <ul data-role="listview" data-theme="c" class="nav-search">
                <!--li data-icon="false"><a href="#" data-rel="close"><span class="icon-close small-icon right" aria-hidden="true"></span></a></li
            -->
                <li data-icon="false"><a href="{{url_for('routing.index')}}" rel="external"><span class="icon-home small-icon right" aria-hidden="true"></span>Home</a></li>
                <li data-role="list-divider" class="panel-divider"></li>
                <li data-icon="false"><a id ="ongoing" rel="external" href="{{url_for('routing.now')}}"><span class="icon-happening small-icon right" aria-hidden="true"></span>Ongoing presentations</a></li>
                <li data-icon="false"><a id ="events" rel="external" href="{{url_for('routing.events')}}"><span class="icon-calendar small-icon right" aria-hidden="true"></span>Events</a></li>
                {% if session['indico_user'] %}
                    <li data-icon="false"><a id ="favorites" rel="external" href="{{url_for('routing.favorites')}}"><span class="icon-favorites small-icon right" aria-hidden="true"></span>Favorites</a></li>
                    <li data-icon="false"><a id ="history" rel="external" href="{{url_for('routing.history')}}"><span class="icon-history small-icon right" aria-hidden="true"></span>History</a></li>
                {% endif %}
                <li data-role="list-divider" class="panel-divider"></li>
                <li data-icon="false"><a href="{{config.get('INDICO_URL')}}" rel="external"><span class="icon-desktop small-icon right" aria-hidden="true"></span>Indico Desktop</a>

            </ul>
        </div>
    </div>
    {% include "dialogs.html" %}
    </body>
</html>
