{% extends "baseeventlist.html" %}
{% block pagetitle %}Events{% endblock %}
{% block head %}
    {% assets "events_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block header %}Events{% endblock %}
{% block content %}
    <div data-role="content">
        <div class="leftSide">
            <h4>Ongoing events</h4>
            <ul id="ongoingEventList" data-role="listview" data-inset="true"></ul>
            <div class="loader"><h4>Loading...</h4><img src="{{ url_for('static', filename='style/images/ajax-loader2.gif') }}"/></div>
        </div>
        <div class="rightSide">
            <h4>Future events</h4>
            <ul id="futureEventList" data-role="listview" data-inset="true"></ul>
            <div class="loader"><h4>Loading...</h4><img src="{{ url_for('static', filename='style/images/ajax-loader2.gif') }}"/></div>
        </div>
    </div>
{% endblock %}