{% extends "baseeventlist.html" %}
{% block pagetitle %}Ongoing presentations{% endblock %}
{% block head %}
    {% assets "goingon_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block header %}Ongoing presentations{% endblock %}
{% block content %}
    <div data-role="content">
        <div id="contribList">
            <div class="loader"><h4>Loading...</h4><img src="{{ url_for('static', filename='style/images/ajax-loader2.gif') }}"/></div>
        </div>
    </div>
{% endblock %}
