<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assets "style_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}
        {% assets "core_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    <script src="/static/js/nextEventInAgenda.js"></script>
</head>
<body id="allpages">
	<div data-role="page" id="home">
		<div data-role="header" data-theme="c">
            <a href="/" data-role="button" data-inline="true" data-mini="true">Login</a>
            <h3>Indico Mobile</h3>
            <a href="/search/" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
		</div>
		<div data-role="content">
            <div class="ui-grid-a" data-inset="true">
                <div class="ui-block-a">
                    <a data-role="button" href="/agenda/" rel="external" style="background-image: url(static/style/images/agenda.png);" class="buttonIcon"></a>
                    <p style="text-align: center;">Agenda</p>
                </div>
                <div class="ui-block-b">
                    <a data-role="button" href="/events/" rel="external" style="background-image: url(static/style/images/event.png);" class="buttonIcon"></a>
                    <p style="text-align: center;">Events</p>
                </div>
                <div class="ui-block-a">
                    <a data-role="button" href="/now/" rel="external" style="background-image: url(static/style/images/new.png);" class="buttonIcon"></a>
                    <p style="text-align: center;">Currently happening</p>
                </div>
                <div class="ui-block-b">
                    <a data-role="button" href="/history/" rel="external" style="background-image: url(static/style/images/history.png);" class="buttonIcon"></a>
                    <p style="text-align: center;">History</p>
                </div>
            </div>
            <div id="nextEvent" style="margin-top: 20px;">             
            </div>
		</div>
	</div>
</body>
</html>