{% extends "baselayout.html" %}
{% block pagetitle %}Map{% endblock %}
{% block head %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
    {% assets "maps_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        var map;
        var latitude = {{ latitude | tojson | safe }};
        var longitude = {{ longitude | tojson | safe }};
        var myposition = null;
        var search = '{{ search }}';
        var room = '{{ room }}';
    </script>
{% endblock %}
{% block body %}
    <div data-role="page" id="eventHome">
        <div data-role="header" data-theme="c">
            <a href="javascript:history.go(-1)" data-role="button" data-icon="back" rel="external" data-iconpos="notext"></a>
            <h3>Indico Mobile</h3>
            <a href="{{url_for('routing.search')}}" data-role="button" data-icon="search" data-iconpos="notext" rel="external"></a>
        </div>
        <div class="headerTitle">
            <div class="headerElement">
                <h3 id="mapTitle">{{map_title}}
                    <a id="route" data-role="button" rel="external" style="background-image: url(/static/style/images/walk.png);" class="smallButtonIcon"></a>
                </h3>
                <span id="infoRoute" style="display: none;">Distance: <span id="routeDistance"></span><br>
                    Duration: <span id="routeDuration"></span></span>
            </div>
        </div>
        <div data-role="content" id="map">
            <h3 class="emptyMessage" style="display: none;">{{not_found_msg}}</h3>
        </div>
    </div>
{% endblock %}