{% extends "baselayout.html" %}
{% block pagetitle %}Map{% endblock %}
{% block head %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
    {% assets "maps_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        var map;
        var latitude = {{ latitude | tojson | safe }};
        var longitude = {{ longitude | tojson | safe }};
        var myposition = null;
        var search = '{{ search }}';
        var room = '{{ room }}';
    </script>
{% endblock %}
{% block pageId %}eventHome{% endblock %}
{% block icons_header %}
    <a data-role="button" onclick="window.history.go(-1)" rel="external" class="icon-back panel-button-icon" aria-hidden="true"></a>
{% endblock %}
{% block pageheader%}
    <div class="headerTitle" data-role="header" data-theme="c">
        <div class="headerOptions">
            <a id="route" data-role="button" rel="external" class="icon-direction small-button-icon" aria-hidden="true"></a>
        </div>
        <div class="headerElement">
            <h3 id="mapTitle" class="mapTitle">{{map_title}}</h3>
            <span id="infoRoute" style="display: none;">Distance: <span id="routeDistance"></span><br>
                Duration: <span id="routeDuration"></span></span>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div data-role="content" id="map">
        <h3 class="emptyMessage" style="display: none;">{{not_found_msg}}</h3>
    </div>
{% endblock %}
