<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="static/style/jquery.mobile-1.1.0.min.css" />
            <link rel="stylesheet" href="static/style/myStyle.css" />
            <script src="static/js/lib/jquery-1.7.2.js"></script>
            <script src="static/js/lib/jquery.highlight-3.js"></script>
            <script src="static/js/lib/jquery.mobile-1.1.0.min.js"></script>
            <script src="static/js/lib/underscore.js"></script>
            <script src="static/js/lib/backbone.js"></script>
            <script src="static/js/lib/inifiniScroll.js"></script>
            <script src="static/js/model/modelsForEvents.js"></script>
            <script src="static/js/utils.js"></script>
            <script src="static/js/view/ListView.js"></script>
            <script src="static/js/view/PageView.js"></script>
            <script src="static/js/loadAgenda.js"></script>
            <script src="static/js/editAgenda.js"></script>
            <script src="static/js/searchEvents.js"></script>
    </head>
    <body id="allpages">
        <div data-role="page" id="eventHome">
            <div data-role="header" data-theme="c">
                <a href="/home" data-role="button" data-icon="home" rel="external" data-iconpos="notext"></a>
                <h3>Indico mobile</h3>
            </div>
            <div class="headerTitle">
                <div class="headerElement"><h3>Search</h3></div>
            </div>
            <div data-role="content">
                <input type="text" data-type="search" id="searchEvent">
                <ul id="searchResults" data-role="listview" data-them="c" data-inset="true"></ul>
                <img id="loadingEvents" style="display: none; margin: 0 auto; margin-top: 20px; width: 5%;" src="static/style/images/loading.gif"></img>
            </div>
        </div>
        <script src="static/js/routes.js"></script>
    </body>
</html>
