.banner-title {
    overflow: visible;
    margin: 0.7em 30% 0.7em;
}

.button-icon {
    width: 74px;
    height: 74px;
    line-height: 74px;
    display: block;
    margin: 0.2em auto !important;
    font-size: 3.5em;
    color: #4F82B4 !important;
    border-radius: 16px !important;
}

.small-button-icon {
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: block;
    margin: 0.2em 0.05em !important;
    font-size: 1.4em;
    color: #4F82B4 !important;
    border-radius: 5px !important;
}

.panel-button-icon {
    color: #2f3e46 !important;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    margin: auto 0.05em !important;
    font-size: 1.4em;
    border-radius: 5px !important;
}

[data-role="button"], [data-role="header"] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-icon .ui-btn-inner, .small-button-icon .ui-btn-inner {
    padding: 0 !important;
}

.buttonTitle {
    text-align: center;
    font-weight: bold;
}

.small-icon {
    color: #2f3e46;
    font-size: 18px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
}
.small-icon.left {
    left: 10px;
}
.small-icon.right {
    right: 10px;
}

div.settings-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding: 5px 6px 3px 0;
}

div.nav-panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 5px 0 3px 6px;
}

.nav-panel .ui-btn-inner,
.settings-panel .ui-btn-inner {
    display: none;
}

.nextEvent {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
}

.highlight { background-color: #80e0ff }

.loader {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.emptyMessage {
    text-align: center;
}

.errorMsg {
    text-align: center;
}

.errorMsg h4 {
    color: red;
}

.headerTitle {
    display: table;
    width: 100%;
    -moz-box-shadow: 0px 0px 8px #aaa;
    -webkit-box-shadow: 0px 0px 8px #aaa;
    box-shadow: 0px 0px 8px #aaa;
    background-image: -o-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, white), color-stop(1, #E6EFF2));
    background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    text-align: center;
    border: none !important;
    overflow: auto;
}

.headerElement {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 50px 0 50px;
    font-weight: normal;
}

.headerOptions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding: 3px 7px 3px 0;
}

.sessionColor{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-right: 8px;
}

.protected {
    color: #AF0000;
    float: right;
    padding-right: 5px;
}

.ui-panel {
    -moz-box-shadow: 0px -1px 8px #aaa;
    -webkit-box-shadow: 0px -1px 8px #aaa;
    box-shadow: 0px -1px 8px #aaa;
}

.ui-panel li.panel-divider {
    font-size: 5px !important;
}

.ui-panel .ui-btn-active .ui-btn-text {
    color: #f9f9f9 !important;
    text-shadow: 0 1px 1px #4f82b4;
    -moz-text-shadow: 0 1px 1px #4f82b4;
    -webkit-text-shadow: 0 1px 1px #4f82b4;
}

.ui-panel .ui-btn-text {
    color: #4f82b4 !important;
    text-shadow: 0 1px 1px #f9f9f9;
    -moz-text-shadow: 0 1px 1px #f9f9f9;
    -webkit-text-shadow: 0 1px 1px #f9f9f9;
}

.ui-btn-up-c .ui-icon,
.ui-btn-hover-c .ui-icon {
    background-color: #4f82b4;
}

.ui-btn-up-b .ui-icon,
.ui-btn-hover-b .ui-icon  {
    background-color: #396b9e;
}
.ui-header-fixed {
    top: -1px !important;
    padding-top: 1px !important;
}
