.buttonIcon {
    width: 74px;
    height: 74px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FCFCFC;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position:center;
}

.buttonTitle {
    text-align: center;
    font-weight: bold;
}

.nextEvent {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: center;
}

.highlight { background-color: #80e0ff }

.nouser {
    background-image: url('/static/style/images/nouser.png');
    min-width: 250px;
    min-height: 250px;
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notimetable {
    background-image: url('/static/style/images/notimetable.png');
    min-width: 250px;
    min-height: 250px;
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loader {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.emptyMessage {
    text-align: center;
}

.headerTitle {
    display: table;
    width: 100%;
    -moz-box-shadow: 0px 0px 8px #aaa;
    -webkit-box-shadow: 0px 0px 8px #aaa;
    box-shadow: 0px 0px 8px #aaa;
    background-image: -o-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, white), color-stop(1, #E6EFF2));
    background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 14%, rgb(249,249,249) 57%);
    text-align: center;
    padding: 1px;
}

.headerElement {
    display: table-cell;
    vertical-align: middle;
}

.ui-footer {
    -moz-box-shadow: 0px -1px 8px #aaa;
    -webkit-box-shadow: 0px -1px 8px #aaa;
    box-shadow: 0px -1px 8px #aaa;
}

.ui-footer .ui-btn-active .ui-btn-text {
    color: #f9f9f9;
    text-shadow: 0 1px 1px #4f82b4;
    -moz-text-shadow: 0 1px 1px #4f82b4;
    -webkit-text-shadow: 0 1px 1px #4f82b4;
}

.ui-footer .ui-btn-text {
    color: #4f82b4;
    text-shadow: 0 1px 1px #f9f9f9;
    -moz-text-shadow: 0 1px 1px #f9f9f9;
    -webkit-text-shadow: 0 1px 1px #f9f9f9;
}

.ui-btn-up-c .ui-icon,
.ui-btn-hover-c .ui-icon {
    background-color: #4f82b4;
}

.ui-btn-up-b .ui-icon,
.ui-btn-hover-b .ui-icon  {
    background-color: #396b9e;
}

.ui-icon-download{
    background-image: url('/static/style/images/download.png');
    background-size: 16px 16px;
    background-position: center;
    width: 18px;
    height: 18px;
}

.ui-icon-agenda {
    background-color: transparent !important;
    background-image: url('/static/style/images/agenda.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-agenda {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/agenda-selected.png');
}

.ui-icon-event {
    background-color: transparent !important;
    background-image: url('/static/style/images/event.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-event {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/event-selected.png');
}

.ui-icon-new {
    background-color: transparent !important;
    background-image: url('/static/style/images/new.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-new {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/new-selected.png');
}

.ui-icon-history {
    background-color: transparent !important;
    background-image: url('/static/style/images/history.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-history {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/history-selected.png');
}

.ui-icon-sessions {
    background-color: transparent !important;
    background-image: url('/static/style/images/session.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-sessions {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/session-selected.png');
}

.ui-icon-timetable {
    background-color: transparent !important;
    background-image: url(/static/style/images/timetable.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-timetable {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/timetable-selected.png');
}

.ui-icon-speakers {
    background-color: transparent !important;
    background-image: url('/static/style/images/user.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-speakers {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/user-selected.png');
}

.ui-icon-about {
    background-color: transparent !important;
    background-image: url('/static/style/images/info.png');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    margin-left: -12px !important;
    border-radius: 0px;
}

.ui-btn-active .ui-icon-about {
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
    box-shadow: 0px 0px 0px #aaa;
    background-image: url('/static/style/images/info-selected.png');
}

.sessionColor{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-right: 8px;
}

.protected {
    font-size: 12px;
    color: red;
}

@media all and (min-width: 500px){

	.leftSide {
		float: left !important;
		width: 49% !important;
	}
	.rightSide {
		float: right !important;
		width: 49% !important;
	}

}
