<script type="text/template" id="dayPage">
<div data-role="page" id="<%=eventId%>-<%= date %>" class="inDay">
    <div data-role="header" data-theme="c" style="position: fixed; z-index: 999;">
        <a href="#alldays" data-icon="back">Back</a>
        <h3><%= date %></h3>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
    </div>
    <div data-role="content" data-theme="c">
        <div class="leftSide" id="listInDay-<%=eventId%>-<%= date %>" style="margin-top: 20px;">
        </div>
        <div class="rightSide" style="margin-top: 20px;" id="sessionInDay-<%=eventId%>-<%= date %>"></div>
    </div>

</div>
</script>

<script type="text/template" id="daysList">
<li id="li-<%=eventId%>-<%= date %>">
    <a href="#<%=eventId%>-<%= date %>" id="dayButton" eventId="<%=eventId%>" data-prefetch><%=date %></a>
</li>
</script>

<script type="text/template" id="agendaDaysList">
<li id="li-<%=eventId%>-<%= date %>">
    <a href="#<%=eventId%>-<%= date %>" id="agendaDayButton" eventId="<%=eventId%>" data-prefetch><%=date %></a>
</li>
</script>

<script type="text/template" id="selectedDay">
<li id="sli-<%=eventId%>-<%= date %>" data-theme="b">
    <a href="#<%=eventId%>-<%= date %>" id="dayButton" eventId="<%=eventId%>" data-prefetch><%= date %></a>
</li>
</script>

<script type="text/template" id="agendaSelectedDay">
<li id="sli-<%=eventId%>-<%= date %>" data-theme="b">
    <a href="#<%=eventId%>-<%= date %>" id="agendaDayButton" eventId="<%=eventId%>" data-prefetch><%= date %></a>
</li>
</script>