<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='style/myStyle.css')}}"/>
        <script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/lib/underscore.js')}}"></script>
        <script src="{{url_for('static',filename='js/lib/backbone.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/slot.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/day.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/conference.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/contribution.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/SlotsView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/DaysListView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/DaysDetailView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/ContributionView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/AgendaListView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/ConferencesListView.js')}}"></script>
        <script src="{{url_for('static',filename='js/loadAgenda.js')}}"></script>
        <script src="{{url_for('static',filename='js/addToAgenda.js')}}"></script>
        <script src="{{url_for('static',filename='js/removeFromAgenda.js')}}"></script>
        <script src="{{url_for('static',filename='js/agendaMain.js')}}"></script>
    </head>
    <body id="myagenda">
        <div data-role="page" id="newConf">
            <div data-role="header" data-theme="b" data-position="fixed">
            <a href="/home" data-icon="home" rel="external">Home</a>
                <h1>My Agenda</h1>
                <a href="/conference" rel="external">Conferences</a>
            </div>
            <div data-role="content" data-theme="b"  id="confList">
            </div>
            <div data-role="footer" data-theme="b">Made by Me</div>
        </div>
        <div data-role="page" id="alldays">
            <div data-role="header" data-theme="b">
            <a href="/agenda" rel="external" data-icon="star">My Agenda</a>
                <h1 id="headerTitle">Conference</h1>
            </div>
            <div data-role="content" data-theme="b" id="list"></div>
            <div data-role="footer" data-theme="b">Made by Me</div>
        </div>
    </body>
</html>
