<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static',filename='style/myStyle.css')}}"/>
		<script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/underscore.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/backbone.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/slot.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/day.js')}}"></script>
		<script src="{{url_for('static',filename='js/model/conference.js')}}"></script>
		<script src="{{url_for('static',filename='js/model/contribution.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/SlotsView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/DaysListView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/DaysDetailView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/ContributionView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/AgendaListView.js')}}"></script>
		<script src="{{url_for('static',filename='js/loadAgenda.js')}}"></script>
		<script src="{{url_for('static',filename='js/addToAgenda.js')}}"></script>
		<script src="{{url_for('static',filename='js/removeFromAgenda.js')}}"></script>
		<script src="{{url_for('static',filename='js/agendaMain.js')}}"></script>
		<script type="text/template" id="days-list">
			<li><a href="#<%= date %>" id="dayButton" data-prefetch><%= date %></a></li>
		</script>
		<script type="text/template" id="selected-day">
			<li data-theme="b"><a href="#<%= date %>" id="dayButton" data-prefetch><%= date %></a></li>
		</script>
		<script type="text/template" id="nav-bar">
			<ul>
				<li><a href="<%= prevLink %>">Previous: <%= prevName %></a></li>
				<li><a href="<%= nextLink %>">Next: <%= nextName %></a></li>
			</ul>
		</script>
		<script type="text/template" id="days-page">
			<div data-role="page" id="<%= date %>" class="inDay">
				<div data-role="header" data-theme="b"  style="position:fixed; z-index: 999;">
					<a href="/" data-icon="back">Home</a>
					<h3><%= date %></h3>
				<a href="#alldays">My Agenda</a>
				</div>
				<div data-role="content" data-theme="c" style="margin-top: 20px;">
					<div class="leftSide" id="listInDay-<%= date %>">

					</div>
					<div class="rightSide">
					<ul data-role="listview" id="list-<%=date%>" data-inset="true">
					</ul>
					</div>
				</div>

			</div>
		</script>
		<script type="text/template" id="slots-list">
			<li id="li-<%=id%>">
				<div data-role="collapsible" info="sessionCol" sessionId="<%=id%>" day="<%= startDate.date %>">
			<h2><%= startDate.time %>: <%= title %> <span class="count"><%= contributions.size() %></span></h2>
			<div data-role="collapsible-set" id="<%=id%>" day="<%= startDate.date %>" data-theme="b"  data-content-theme="b">
			</div>
			</div>
		</li>
		</script>
		<script type="text/template" id="contribution">
				<div data-role="collapsible" data-inset="true">
					<h3><%= startDate.time %>: <%= title %></h3>
					<h4><% if(description!=''){print('Description')} else {print('No description')}%></h4>
					<p style="white-space: normal"><%= description %></p>
					<h4>Location<% if(room!=''){print(' - Room')}%></h4>
					<p style="white-space: normal"><%= location %><% if(room!=''){print(' - '+room)}%></p>
					<a data-role="button" data-inline="true" data-icon="delete" id="removeFromAgenda" day="<%=startDate.date%>" sessionId="<%=sessionId%>" contribId="<%= id %>">Remove from my agenda</a>
					</div>
		</script>
		<script type="text/template" id="contribution-agenda">
				<div data-role="collapsible" data-inset="true" data-mini="true">
					<h3><%= startDate.time %>: <%= title %></h3>
					<h4><% if(description!=''){print('Description')} else {print('No description')}%></h4>
					<p style="white-space: normal"><%= description %></p>
					<h4>Location<% if(room!=''){print(' - Room')}%></h4>
					<p style="white-space: normal"><%= location %><% if(room!=''){print(' - '+room)}%></p>
					<a data-role="button" data-icon="delete" data-inline="true" id="removeFromAgenda" day="<%=startDate.date%>" sessionId="<%=sessionId%>" contribId="<%= id %>">Remove from my agenda</a>
					</div>
		</script>
		<script type="text/template" id="break">
				<li data-role="list-divider"><h3><%= startDate.time %>: <%= title %></h3>
					</li>
		</script>
	</head>
	<body id="allpages">
		<div data-role="page" id="alldays">
			<div data-role="header" data-theme="b" data-position="fixed">
				<a href="/" rel="external">Home</a>
				<h1 id="headerTitle">My Agenda</h1>
				<a href="/conference" rel="external">Conference</a>
			</div>
			<div data-role="content" data-theme="b" id="list"></div>
			<div data-role="footer" data-theme="b">Made by Me</div>
		</div>
	</body>
</html>
