<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static',filename='style/myStyle.css')}}"/>
		<script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/underscore.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/backbone.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/slot.js')}}"></script>
        <script src="{{url_for('static',filename='js/model/day.js')}}"></script>
		<script src="{{url_for('static',filename='js/model/conference.js')}}"></script>
		<script src="{{url_for('static',filename='js/model/contribution.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/SlotsView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/DaysListView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/DaysDetailView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/ContributionView.js')}}"></script>
		<script src="{{url_for('static',filename='js/view/AgendaListView.js')}}"></script>
        <script src="{{url_for('static',filename='js/view/ConferencesListView.js')}}"></script>
		<script src="{{url_for('static',filename='js/loadAgenda.js')}}"></script>
		<script src="{{url_for('static',filename='js/addToAgenda.js')}}"></script>
		<script src="{{url_for('static',filename='js/removeFromAgenda.js')}}"></script>
        <script src="{{url_for('static',filename='js/confList.js')}}"></script>
		<script src="{{url_for('static',filename='js/main.js')}}"></script>
	</head>
	<body id="allpages">
		<div data-role="page" id="newConf">
			<div data-role="header" data-theme="b" style="position:fixed; z-index: 999;">
                <a href="/home" rel="external" data-icon="home">Home</a>
				<h1>Choose your conference</h1>
				<a href="/agenda" rel="external" data-icon="star">My agenda</a>
			</div>
			<div data-role="content" data-theme="b" style="margin-top:40px;">
				Put a Conference ID: <input type="text" id="confIdInput"/>
				<a href="#alldays" rel="external" data-role="button" id="confButton" data-inline="true">See Conference</a>
				<div id="confList"></div>
			</div>
			<div data-role="footer" data-theme="b">Made by Me</div>
		</div>
		<div data-role="page" id="alldays">
			<div data-role="header" data-theme="b">
				<a href="/conference" rel="external" data-icon="home">Conferences</a>
				<h1 id="headerTitle">Conference</h1>
				<a href="/agenda" rel="external">My agenda</a>
			</div>
			<div data-role="content" data-theme="b" id="list"></div>
			<div data-role="footer" data-theme="b">Made by Me</div>
		</div>
	</body>
</html>
