<div data-role="collapsible" data-inset="true" data-theme="f"
	data-content-theme="f">
	<h3><%= startDate.time %>: <%= title %></h3>
	<h4><% if(description!=''){print('Description')} else {print('No
		description')}%></h4>
	<p style="white-space: normal"><%= description %></p>
	<h4>Location<% if(room!=''){print(' - Room')}%></h4>
	<p style="white-space: normal"><%= location %><%
		if(room!=''){print(' - '+room)}%></p>
	<a data-role="button" data-icon="star" id="addToAgenda"
		day="<%=startDate.date%>" sessionId="<%=sessionId%>"
		contribId="<%= id %>" confId="<%=conferenceId%>" style="display: none;">To my agenda
	</a>
	<a data-role="button" data-icon="delete" id="removeFromAgenda1"
		day="<%=startDate.date%>" sessionId="<%=sessionId%>"
		contribId="<%= id %>" confId="<%=conferenceId%>">Remove from my agenda
	</a>
</div>