<div data-role="page" id="<%= date %>" class="inDay">
	<div data-role="header" data-theme="b"
		style="position: fixed; z-index: 999;">
		<a href="#alldays" data-icon="back">Back</a>
		<h3><%= date %></h3>
	</div>
	<div data-role="content" data-theme="c">
		<div class="leftSide" id="listInDay-<%= date %>"
			style="margin-top: 30px;"></div>
		<div class="rightSide" style="margin-top: 50px;">
			<ul data-role="listview" id="list-<%=date%>" data-inset="true"
				data-filter="true">
			</ul>
		</div>
	</div>

</div>