<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}" />
            <link rel="stylesheet" href="{{url_for('static',filename='style/myStyle.css')}}" />
            <script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
            <script src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/lib/underscore.js')}}"></script>
			<script src="{{url_for('static',filename='js/lib/backbone.js')}}"></script>
			<script src="{{url_for('static',filename='js/model/modelsForEvents.js')}}"></script>
			<script src="{{url_for('static',filename='js/TemplateManager.js')}}"></script>
			<script src="{{url_for('static',filename='js/view/SlotsView.js')}}"></script>
			<script src="{{url_for('static',filename='js/view/DaysListView.js')}}"></script>
			<script src="{{url_for('static',filename='js/view/DaysDetailView.js')}}"></script>
			<script src="{{url_for('static',filename='js/view/ContributionView.js')}}"></script>
			<script src="{{url_for('static',filename='js/view/EventsListView.js')}}"></script>
            <script src="{{url_for('static',filename='js/view/RecentEventsView.js')}}"></script>
			<script src="{{url_for('static',filename='js/clickEvents.js')}}"></script>
			<script src="{{url_for('static',filename='js/loadAgenda.js')}}"></script>
            <script src="{{url_for('static',filename='js/editAgenda.js')}}"></script>
			<script src="{{url_for('static',filename='js/eventList.js')}}"></script>
            <script src="{{url_for('static',filename='js/filterDate.js')}}"></script>
	</head>
	<body id="allpages">
		<div data-role="page" id="eventHome">
			<div data-role="header" data-theme="c" data-content-theme="c"
				style="position: fixed; z-index: 999;">
				<a href="/home" rel="external" data-icon="home">Home</a>
				<h1>Events</h1>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
			</div>
			<div data-role="content" data-theme="c" style="margin-top: 40px;">
			<input type="text" id="addEvent">
			    <h2>Future Events</h2>
				<div id="futureEventList" class="futureEvents">
				</div>
			</div>
			<div data-role="footer" data-theme="c">Made by Me</div>
		</div>
		<div data-role="page" id="alldays">
			<div data-role="header" data-theme="c">
				<a href="/events" data-icon="back">Back</a>
				<h1 id="headerTitle">Event</h1>
            <a href="/search" data-role="button" data-icon="search" data-iconpos="notext" rel="external">Search</a>
			</div>
			<div data-role="content" data-theme="c" id="list"></div>
			<div data-role="footer" data-theme="c">Made by Me</div>
		</div>
	</body>
</html>
