<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}" />
<link rel="stylesheet"
	href="{{url_for('static',filename='style/myStyle.css')}}" />
<script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
<script
	src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
</head>
<body id="allpages">

	<div data-role="page" id="listView">
		<div data-role="header" data-theme="b" data-position="fixed">
			<a href="/" data-role="button">Login</a>
			<h1>Indico Mobile</h1>
			<a href="#desktopView" data-role="button">Desktop</a>
		</div>
		<div data-role="content" data-theme="c">
			<ul data-role="listview" data-inset="true">
				<li><a href="/agenda" rel="external"> <img
						src="{{url_for('static',filename='style/images/schedule.png')}}"
						width="60" height="60" />
						<h2>Agenda</h2>
				</a></li>
				<li><a href="/conference" rel="external"><img
						src="{{url_for('static',filename='style/images/conference.png')}}"
						width="60" height="60" />
						<h2>Conferences</h2> </a></li>
				<li><a href="/map" rel="external"><img
						src="{{url_for('static',filename='style/images/map.png')}}"
						width="60" height="60" />
						<h2>Map</h2> </a></li>
				<li><a href="/agenda" rel="external"><img
						src="{{url_for('static',filename='style/images/speaker.png')}}"
						width="60" height="60" />
						<h2>Speakers</h2> </a></li>
		</div>
		<div data-role="footer" data-theme="b">Made by Me</div>
	</div>
	<div data-role="page" id="desktopView">
		<div data-role="header" data-theme="b" data-position="fixed">
			<a href="/" data-role="button">Login</a>
			<h1>Indico Mobile</h1>
			<a href="#listView" data-role="button">List</a>
		</div>
		<div data-role="content" data-theme="b">
			<div class="ui-grid-a">
				<div class="ui-block-a" align="center">
					<a href="/agenda" rel="external"><img
						src="{{url_for('static',filename='style/images/schedule.png')}}"
						width="60" height="60" /></a> <br />Agenda
				</div>
				<div class="ui-block-b" align="center">
					<a href="/conference" rel="external"><img
						src="{{url_for('static',filename='style/images/conference.png')}}"
						width="60" height="60" /></a> <br />Conferences
				</div>
				<div class="ui-block-a" align="center">
					<a href="/map" rel="external"><img
						src="{{url_for('static',filename='style/images/map.png')}}"
						width="60" height="60" /></a> <br />Map
				</div>
				<div class="ui-block-b" align="center">
					<a href="/agenda" rel="external"><img
						src="{{url_for('static',filename='style/images/speaker.png')}}"
						width="60" height="60" /></a> <br />Speakers
				</div>

			</div>
		</div>
		<div data-role="footer" data-theme="b">Made by Me</div>
	</div>

</body>
</html>
