<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='style/jquery.mobile-1.0.1.min.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static',filename='style/myStyle.css')}}"/>
		<script src="{{url_for('static',filename='js/lib/h5utils.js')}}"></script>		
		<script src="{{url_for('static',filename='js/lib/jquery-1.7.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/lib/jquery.mobile-1.0.1.min.js')}}"></script>
		<meta charset=utf-8>
		<meta name="viewport" content="width=620">
		<title>HTML5 Demo: geolocation</title>
	</head>
	<body id="allpages">
		<div data-role="page" id="alldays">
			<div data-role="header" data-theme="b" data-position="fixed">
				<a href="/" data-role="button" data-icon="back">Home</a>
				<h1>Map</h1>
			</div>
			<div data-role="content" data-theme="b" id="test" align="center">
				<meta name="viewport" content="width=620" />
				<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
			
					
				
				<script>
					function success(position) {
						

						var mapcanvas = document.createElement('div');
						mapcanvas.id = 'mapcanvas';
						mapcanvas.style.height = '400px';
						mapcanvas.style.width = '560px';
						document.querySelector('#test').appendChild(mapcanvas);

						var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
						var myOptions = {
							zoom : 15,
							center : latlng,
							mapTypeControl : false,
							navigationControlOptions : {
								style : google.maps.NavigationControlStyle.SMALL
							},
							mapTypeId : google.maps.MapTypeId.ROADMAP
						};
						var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);

						var marker = new google.maps.Marker({
							position : latlng,
							map : map,
							title : "You are here! (at least within a " + position.coords.accuracy + " meter radius)"
						});
					}

					function error(msg) {
						
						
						console.log(arguments);
					}

					if(navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(success, error);
					} else {
						error('not supported');
					}
				</script></div>
	</body>
</html>